/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

/******************************************************************************/
/***************************CSS for header page********************************/
/******************************************************************************/



/*Removes hyperlink styling on links*/
.header a:link, a:visited {
    
    color: #fcfaff;
    text-decoration: none;
    
}

/*Removes hyperlink styling on links*/
.header a:hover, a:active {
    
    color: #fcfaff;
    text-decoration: none;
    
}

/*Styles the header background*/
.headerRow {
    
    background-color: #555;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
           
}



/******************************************************************************/
/*********************CSS for login and register pages*************************/
/******************************************************************************/



/*The following help tip code was taken from W3schools.com and tutorialzine.com */
.helptip{
    
    position: relative;
    display: inline-block;
    background-color: #eadec0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    cursor: default;
    font-weight: bold;
    
}

.helptip p{
    
    visibility: hidden;
    position: absolute;
    width: 160px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    background-color: #555;
    color: #fff;
    z-index: 1;
    top: -5px;
    left: 200%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 1s;
    font-size: 13px;
    
}

.helptip:hover p{
    
    visibility: visible;
    opacity: 1;
    
}



/******************************************************************************/
/***************************CSS for image pages********************************/
/******************************************************************************/



/*The following code was taken from stackoverflow 
(http://stackoverflow.com/questions/18673900/how-to-center-and-crop-an-image-to-square-with-css) */

/*Sets size and crops thumbnail image to a sqaure*/
.thumbnail{ 

    width: 225px;
    height: 225px;
    overflow: hidden;
    /*Centres thumbnail to parent div*/
    margin: 0 auto;
    position: relative;
    
}

/*Sets the thumbnail image centre to be the centre of the cropped and resized thumbnail*/
.thumbnail img{
    
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    
}